.btn i{
	margin-top: 0px;
	margin-right: 2px;
	font-size: 19px;
	float: left;
}
.primary{
	color: white !important;
	background: #1976D2;
}

.green{
	color: #08B059!important;
	background: #C6E7D6;
}

.warning{
	color: #FFA30D !important;
	background: #FFF6E7;
}
.danger{
	color: #FF0000 !important;
	background: #F7C4C4;
}
/* .green{

} */

.TsmBtn{
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 4px;
	border: solid 1px transparent !important;
	margin: 4px 5px;
	outline: none;
}

.TsmBtn:hover{
	border: solid 1px light-gray !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
}

.mdBtn{
	padding: 6px 10px;
	font-size: 14px;
	border-radius: 8px;
	border:none !important;
	outline: none;
}

.lgBtn{
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 8px;
	border:none !important;
	outline: none;
}

.xlgBtn{
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 8px;
	border:none !important;
	outline: none;
}



