.btn i{
	margin-top: 0px;
	margin-right: 4px;
	font-size: 19px;
	float: left;
}
.primary{
	color: white !important;
	background: #1976D2;
}

.green{
	color: #08B059!important;
	background: #C6E7D6;
}

.warning{
	color: #FFA30D !important;
	background: #FFF6E7;
}
.danger{
	color: #FF0000 !important;
	background: #F7C4C4;
}
/* .green{

} */

.TsmBtn{
	padding: 5px 20px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 4px;
	border:none !important;
	margin: 4px 5px;
	outline: none;
}

.mdBtn{
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 8px;
	border:none !important;
	outline: none;
}


