
 .filterDate{
	justify-content: center;
	display: flex;
	background: #FFFFFF;
	outline-color: gray;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px 0px;
	margin: 0px 7px;
 }

 .selectIcon{
	font-size: 14px;
	font-weight: 900;
	padding: 5px 5px;
	color: #1976D2;
	border: none;
	float: right;
	outline: none !important;
 }

 .filterDate i{
	padding-top: 5px;
	color: #1976D2;
 }

