/* The side navigation menu */

.navLink{
	margin-top: 0px;
}
.navLink .linkItem i{
	margin-top: 0px !important;
	color: #C2CFE0;
	font-size: 20px;
	line-height: 18px;
	margin-right: 8px;
	float: left;
}
.sidebar {
	list-style:none !important;
  margin: 0;
  padding: 0;
  width: 280px;
  background-color: #FFFFFF;;
  position: fixed;
  height: 100%;
  overflow: auto;
	display: block;
	border-right: solid 1px #E7E7E7;
}

.sidebar::-webkit-scrollbar{
  width: 0.3em;
}
 
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color:  #E7E7E7;;
  outline: 0px solid slategrey;
}

.sidebar ul {
	padding: 0px !important;
	display: block;
	list-style:none;
}
/* Sidebar  Nav links */
.sidebar a {
  display: block;
  color: #334D6E;
  padding: 16px;
	font-size: 14px;
	font-weight:normal;
  text-decoration: none;
	text-align: left !important;
}

/* Nav Active/current link */
.sidebar a.active {
  background-color: #F3F3F3 !important;
  color: #08B059;
	border-left: 3px solid #08B059;
}
.sidebar a.active >i {
 
  color: #08B059 !important;

}

/* Nav Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #08B059 ;
  color: white;
	transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.navChild div{
	background: whitesmoke;
}

.navChild a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	font-size: 13px;
	font-weight: normal !important;
	color: #828282;
}

.navChild li a:hover{
	color:#1976D2 !important;
	background: none !important;
}

.flexRow{
	display: flex;
	flex-wrap: wrap;
}
.navProfilecontainer {
	padding-top: 30px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	/* background: #08B059; */
	justify-content: center;
	border-bottom: solid 1px #E7E7E7;
}

.navProfilecontainer .flexRow> div {
	background-color:none;
	text-align: center;
	line-height: 0px;
	margin: 1px 5px;
}

.navProfilecontainer .flexRow .pImg{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: none;
	border: solid 2px white;
}

.mainText{
	font-size: 15px;
	line-height: 1px;
	font-weight: bold;
	text-align: left !important;
	color: #192A3E;
}
.subText{
	font-size: 14px;
	color: #C0C5CC;
	font-weight: normal !important;
	text-align: left !important;
}
.navAvatar{
	width: auto;
border-radius: 100px !important;
}

.navProfilecontainer .flexRow .pInfo{
	width: 180px;
	background-color:none;
}

.pInfo a:hover{
	background-color:white!important;
}
.dropDownContainer{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.cardBody{
  border-bottom: solid 1px #E7E7E7;
	background-color:none;
  padding:10px 5px;
	padding-bottom: 2px !important;
	justify-content: center;
}
.cardBody .flexRow> div {
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:none;
	text-align: center;
	line-height: 0px;
	margin: 1px 5px;
}

/* .cardBody .flexRow .dropDownIcon{
	padding:0px;
	margin-left: 0px;
	width: 45px;
	background-color:none;
	max-height: 40px;
}
.cardBody .flexRow .dropDownIcon i{
	font-size: 25px;
	color: #09639B !important;
	padding-left: 15px;
}
.cardBody .flexRow .dropDownText{
	width: 190px;
	background-color:none;
}

.cardBody a{
	background: white !important;
	margin: 0px;
	padding:0px;
}
.cardBody a:hover{
	background: white !important;
} */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}