
.usersTable {
	width: 100%;
	background: white;	
}

.usersTable th{
	margin-top: 200px;
	font-size: 13px;
	font-weight: 500;
	padding: 10px 20px;
	color: #1D1D1F;
}

.usersTable td{
	padding: 10px 20px;
	font-size: 12px;
	color: #828282;
} 
.usersTable tr{
	border-bottom: solid 2px  #FAFAFA;
}
.tableAvatar{
	float:left;
	height: 25px;
	margin-right: 10px;
	line-height: 0;
	width: 25px;
	background:none;
	border-radius: 50px;
	background: rgb(221, 221, 221);
}

.tableName{
	font-weight: 500;
	line-height: 2;
}

.img{
	position: relative;
	left:10px;
  line-height: 2px !important;
  border-radius: 50% !important;
}

.usersTable input{
	outline: none !important;
	box-shadow: none !important;
}

